@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

input {
    margin: 2%;
}

.bund {
    text-align: right;
    padding-right: 4%;
}

#new {
    margin-bottom: 1.5%;
    background-color: rgb(253, 172, 172);
    color: rgb(77, 1, 77);
}

:focus {
    outline: #0f64ce solid 3px;
    outline-offset: 2px;
}

@media screen and (max-width: 770px) {
    
}