<div class="home" id="main-content">
    <h1>Willkommen bei * Tools *, der Aktionsleihkiste</h1>

    <ul>
        <li><p>Wir begrüßen euch auf unserer Seite!</p></li>
        <li><p>Wir wenden uns entschieden gegen Rassismus, Sexismus, Homo- und Transphobie, Antisemitismus, Antiziganismus, Ableismus ... 
            <br />
            Dies stellen wir auch als Bedingung an alle Ausleihenden. 
            <br />
            Wir wollen keine Aktionen oder Gruppen unterstützen, die diese Punkte nicht erfüllen oder sich diskriminierend verhalten.
        </p></li>
    </ul>
    

    <h2>Was ist * Tools * - Die Ausleihkiste?</h2>

    <ul>
        <li>Tools stellt verschiedene Materialien, Dinge und Geräte zur Verfügung, die für kreative Aktionen genutzt werden können.</li>
        <li>Da vieles davon viel Geld kostet und zum Teil etwas sperrig privat unterzubringen ist und nicht immer gebraucht wird, 
            wollen wir die Möglichkeit bieten die Kisten für einen bestimmten Zeitraum auszuleihen.</li>
        <li>Tools finanziert sich aus Spenden. Nichts davon soll in privaten Händen landen.</li>
        <ul>
            <li>Wir freuen uns über Sachspenden, die auch für uns geeignet sind, kontaktiert uns gerne, wenn ihr denkt, dass ihr etwas passendes abzugeben habt.</li>
            <li>Wir freuen uns über finanzielle Unterstützung, um Fehlendes nachzukaufen, das Sortiment zu erweitern und vorhandenes instandzuhalten.</li>
        </ul>
    </ul>

    <h2>Für wen ist * Tools * - Die Ausleihkiste gedacht?</h2>

    <ul>
        <li>Aktionsgruppen</li>
        <li>Künstler*innengruppen</li>
        <li>Spendende und Nutzende</li>
        <li>Für Demos, Camps, Aktionen im öffentlichen Raum, Kunstaktionen und vieles mehr</li>
    </ul>

    <h2>Wie funktioniert * Tools * - Die Ausleihkiste?</h2>

    <ul>
        <li>Ihr könnt euch auf unserer Seite registrieren.</li>
        <li>Wenn ihr eingeloggt seid, könnt ihr euch unsere Übersicht an ausleihbaren Dingen ansehen und nachsehen ob sie verfügbar sind.</li>
        <li>Wenn das was ihr braucht verfügbar ist, kontaktiert uns unter <b>ausleihen(ät)tools-ausleihkiste.org</b> und wir reservieren es für den benötigten Zeitraum für euch.</li>
        <li>In naher Zukunft könnt ihr das Material auch direkt über diese Plattform ausleihen.</li>
        <li>Je nach Inhalt und Wert der Kiste müsst ihr einen Pfand bei uns lassen.</li>
    </ul>
</div>